VARIABLES Y TIPOS

Nombres reservados en Python

'''
and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from,
global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield.
'''

In [8]:
#inicializando variables 
x = 10

print (x)

#Se puede utilizar comillas dobles o simples para crear una cadena
cadena = "Hola mundo"

print(cadena)

10
Hola mundo

In [9]:
#Asigna un mismo valor a tres variables
x = y = z = 10

print(x, y, z)

10 10 10

In [10]:
#La funcion type () permite conocer el tipo de una variable
type(x)

int

In [11]:
type(cadena)

str

In [12]:
#Se puede cambiar los valores de las varables y el tipo se cambia
#automaticamente

x = "Hola mundo"
cadena = 10

In [13]:
type(x)

str

In [14]:
type(cadena)

int

In [15]:
#Cuando una variable tiene un valor constante, por conveción, el
#nombre se escribe en mayusculas

SEGUNDOS_POR_DIA = 60 * 60 * 60
PI = 3.14

CADENAS

Las cadenas pueden ser definidas usando comilla simple ( '' ) o comillas doble ( "" ). Una característica de las cadenas es que son inmutables, esto quiere decir que no se pueden cambiar los caracteres que contiene. El caracter \ sirve para escapar caracteres como \n o \t.

In [16]:
#Inicializando cadenas

cadena1 ="Hola "
cadena2 = "mundo"

print(cadena1)
print(cadena2)

concat_cadenas = cadena1 + cadena2  #Concatenación de cadenas

print(concat_cadenas)

Hola
mundo
Hola mundo

In [17]:
#Para concatenar un número y una cadena se debe usar la función 
# str()

num_cadena = concat_cadenas + ' ' + str(3) 
#se agrega una cadena vacia para agregar un espacio

print(num_cadena)

Hola mundo 3

Para concatenar codenas se recomienda el uso de la función format(), en lugar del viejo estilo del operador '+'.

In [18]:
#El valor de la variable se va a imprimir en el lugar donde se 
#encuetra {} en la cadena

num_cadena = "{} {} {}". format(cadena1, cadena2, 3)

print(num_cadena)

Hola  mundo 3

Por medio de la función format(), se puede cambiar el orden en que se imprimen las varables:

In [19]:
#Cuando se agrega un número dentrode (#), el valor la variable que 
#se encuentra es esa posición dentro de la función format(), sera impreso.

num_cadena = "Cambia el orden: {1} {2} {0}". format(cadena1, cadena2, 3)

print(num_cadena)

Cambia el orden: mundo 3 Hola

OPERADORES

Aritmeticos: +, -, *,  /

In [20]:
#Para el exponente se puede usar el asterisco

print(1 + 5)
print(6 * 3)
print(10 -4)
print(100 / 50)
print(10 % 2)
print((20 - 3) * (10 + 2) / 10)
print(2**2)

6
18
6
2.0
0
20.4
4

Booleanos: and, not, or

In [21]:
False and True

False

Comparación: >, <, =>, <=, ==

In [22]:
print(7 < 5) #False

print(7 > 5) #Verdadero

print((11 * 3)+2 == 36 - 1) #Verdadero

print((11 * 3)+2 >= 36) #False

print("curso" != "CuRsO") #Verdadero

False
True
True
False
True

LISTAS

ºBasicamente son valores que están separados por comas dentro de paréntesis cuadrados.
ºEstá compuesta por cualquier cantidad y/o tipo de datos, ya sean cadenas, caracteres, números e inclusive otras listas.
ºSe puede acceder a las listas por medio de índices, estos índices comienzan desde 0 hasta el número de elementos menos 1.
ºLas listas son mutables.

In [23]:
#Declaración de una lista simple

lista_diasDelMes = [31,28,31,30,31,30,31,31,30,31,30,31]

print(lista_diasDelMes)             #Imprimir la lista completa
print(lista_diasDelMes[0])          #Imprimir elemento 1
print(lista_diasDelMes[6])          #Imprimir elemento 7
print(lista_diasDelMes[11])         #Impriimir elemento 12

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
31
31
31

In [24]:
#Declaracion de lista anidadas

lista_numeros = [['cero', 0],['uno',1,'UNO'],['dos', 2],['tres', 3],['cautro', 4],['X', 5]]

print(lista_numeros)            #imprime lista completa

print(lista_numeros[0])         #imprime el elemento 0 de la lista
print(lista_numeros[1])         #imprime el elemento 1 de la lista

print(lista_numeros[2][0])      #Imprime el primer elemento de la lista en la posición 2
print(lista_numeros[2][1])      #Imprime el segundo elemento de la lista en la posición 2

print(lista_numeros[1][0])
print(lista_numeros[1][1])
print(lista_numeros[1][2])

[['cero', 0], ['uno', 1, 'UNO'], ['dos', 2], ['tres', 3], ['cautro', 4], ['X', 5]]
['cero', 0]
['uno', 1, 'UNO']
dos
2
uno
1
UNO

In [25]:
#Se cambia el valor de uno de los elementos de la lista

lista_numeros[5][0] = "cinco"
print(lista_numeros[5])

['cinco', 5]

TUPLAS

°Son parecida a las listas, valores separados por una coma.
°Comparadas con las listas, las tuplas no son mutables.
°Se pueden aplicar las mismas operaciones que en las listas y su ventaja es que consumen menos memoria para almacenarse.
°Se crean, ya sea utilizando paréntesis o simplemente separando los valores por comas.

In [26]:
#Declaración de una tupla

tupla_diasDelMes = (31,28,31,30,31,30,31,31,30,31,30,31)

print(tupla_diasDelMes)         #Imprime la tupla completa
print(tupla_diasDelMes[0])      #Imprime elemento 1
print(tupla_diasDelMes[3])      #Imprime elemento 4
print(tupla_diasDelMes[1])      #Imprime elemento 2

(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)
31
30
28

In [27]:
#Declaracion de tuplas anidadas

tupla_numeros = (('cero', 0),('uno',1,'UNO'),('dos',2),('tres',3),('cuatro',4),('X',5))

print(tupla_numeros)         #Imprime tupla completa

print(tupla_numeros[0])      #Imprime el elemento 0 de la tupla
print(tupla_numeros[1])      #Imprime el elemento 1 de la tupla

print(tupla_numeros[2][0])   #Imprime el primer elemento de la tupla en la posición 2
print(tupla_numeros[2][1])   #Imprime el segundo elemento de la tupla en la posición 2


print(tupla_numeros[1][0])
print(tupla_numeros[1][1])
print(tupla_numeros[1][2])

(('cero', 0), ('uno', 1, 'UNO'), ('dos', 2), ('tres', 3), ('cuatro', 4), ('X', 5))
('cero', 0)
('uno', 1, 'UNO')
dos
2
uno
1
UNO

In [28]:
#Probando la mutabilidad de las listas vs la no mutabilidad de las tuplas

print("valor actual {}".format(lista_diasDelMes[0]))
lista_diasDelMes[0] = 50

print("valor cambiado {}".format(lista_diasDelMes[0]))
tupla_diasDelMes[0] = 50    #Esta asignacion manda un error, ya que no se pueden cambiar
                            #valores de una tupla

valor actual 31
valor cambiado 50

TypeError: 'tuple' object does not support item assignment

TUPLA CON NOMBRE

En comparacion con las tuplas anteriores, este tipo especial de tuplas permite especificar un nombre para describirla.

In [31]:
#Se debe impotar la librería para hacer uso de namedtuple
from collections import  namedtuple

#Se crea la tupla con nombre
#El primer argumento es el nombre de la tupla, mienttras que el segundo argumento son los campos
#p es la referencia a la tupla
planeta = namedtuple('planeta', ['nombre', 'numero'])

#Se crea el planeta 1  y se agregan a la tupla los valores correspondientes a los campos
planeta1 = planeta('Mercurio', 1)
print(planeta1)

#Se crea el planeta 2
planeta2 = planeta('Venus', 2)

#Se imprimen los valores de los campos
#Usando la referencia se llama a cada uno de los campos
print(planeta1.nombre, planeta1.numero)

#Se obtienen los valores por el orden de los campos
print(planeta2[0], planeta2[1])

print('Campos de la tupla: {}'. format(planeta1._fields))

planeta(nombre='Mercurio', numero=1)
Mercurio 1
Venus 2
Campos de la tupla: ('nombre', 'numero')

DICCIONARIOS

°Un diccionario se crea usando {} y consta de dos parte: llave y valor
°Las llaves son inmutables, deben de tener un solo tipo de dato,una cadena o número. Una vez que es creado, no se puede cambiar su tipo.
°Mientras que el valor puede ser de cualquier tipo y se puede cambiar con el tiempo.
°Los elementos en un diccionario no están ordenados

In [33]:
#Creando un diccionario
elementos = {'hidrogeno': 1,'helio': 2,'Carbon': 6}

#El momento de la impresión, puede aparecer en diferente orden del introducido
print(elementos)

print(elementos['hidrogeno'])

{'hidrogeno': 1, 'helio': 2, 'Carbon': 6}
1

In [34]:
#Se pueden agregar elementos al diccionario
elementos['litio'] = 3
elementos['nitrogeno'] = 8

print(elementos)    #Imprimiendo todos los elementos, nótese que los elementos no están ordenados

{'hidrogeno': 1, 'helio': 2, 'Carbon': 6, 'litio': 3, 'nitrogeno': 8}